---
import Header from '../../components/styleguide/Header.astro';
import Layout from '../../components/styleguide/Layout.astro';
import StyleguideLayout from '../../layouts/Styleguide.astro';

const pageTitle = "Buttons";
const description = "should be clear, inviting, obvious, and functional.";
const label = "Learn more";
---

<style>
	section {
		align-items: center;
		justify-items: center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	small {
		display: block;
		font-family: var(--typography-font-family-sans);
		font-size: var(--typography-font-size-small);
		font-weight: var(--typography-font-weight-normal);
		margin-top: 0.5rem;
		text-align: center;
		text-transform: lowercase;
	}

</style>
<StyleguideLayout pageTitle={pageTitle} description={description}>
	<Layout>
		<Header title={pageTitle} description={description} />
		<section>
			<div>
				<button class="button button--text">{label}</button>
				<small>button .button.button--text</small>
			</div>
			<div>
				<a href="#" class="button button--text">{label}</a>
				<small>a .button.button--text</small>
			</div>
			<div>
				<button class="button button--small">{label}</button>
				<small>button .button.button--small</small>
			</div>
			<div>
				<a href="#" class="button button--small">{label}</a>
				<small>a .button.button--small</small>
			</div>
			<div>
				<button class="button button--medium">{label}</button>
				<small>button .button.button--medium</small>
			</div>
			<div>
				<a href="#" class="button button--medium">{label}</a>
				<small>a .button.button--medium</small>
			</div>
			<div>
				<button class="button button--large">{label}</button>
				<small>button .button.button--large</small>
			</div>
			<div>
				<a href="#" class="button button--large">{label}</a>
				<small>a .button.button--large</small>
			</div>
		</section>
	</Layout>
</StyleguideLayout>